{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "comma-dangle": 0,
    "react/prop-types": 0,
    "new-cap": 0,
  }
}
