.DS_Store
coverage
node_modules
npm-debug.log
npm-debug.log.*
dist
stats.json
webpack-plugin/src/assets/client-bundle.js
webpack-plugin/src/client-bundle.js
webpack-plugin/src/assets/main.css
webpack-plugin/src/main.css
webpack-plugin/dist
client/user-bundle.js

examples/**/variations/
.idea
