@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.root {
  font-family: 'Open Sans', sans-serif;
}

.input {
  border: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.input:focus {
  outline: none;
}
