@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.root {
	font-family: 'Open Sans', sans-serif;
}

.button {
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 2.35rem;
  color: #888;
  border-radius: 2rem;
  line-height: 2.25rem;
  cursor: pointer;
  background-color: #fff;
  font-size: 1rem;
  padding: 0 1.1rem;
  margin: 2rem 1em 0 0;
}