.root {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

.form {
  margin: 2rem auto;
}

.input {
  margin: 0;

  /* Reset the default borderRadius for Mobile Safari */
  border-radius: 0;

  /* Belle TextInput style */
  overflow: hidden;
  resize: none;
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  color: #505050;
  border: 0 solid #fff;
  border-bottom: 1px solid #eee;
  background: none;
  display: block;
  box-sizing: border-box;
  min-height: 0px;
  font-size: 1rem;

  /* animations */
  transition: border-bottom 0.2s;
  transition-timing-function: ease-out;
}

.input:hover {
  border-bottom: 1px solid #ccc;
}

.input:focus {
  border-bottom: 1px solid #ccc;
  outline: 0;
}
