.root {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
}

.buttonWrapper {
  position: relative;
  top: -5.25rem;
  text-align: right;
  margin-right: 3.5rem;
}

.button {
  background-color: rgb(36, 60, 100) !important;
  color: #fff !important;
}

.button:hover {
  background-color: rgb(46, 70, 110) !important;
  color: #fff !important;
}

.button:active {
  background-color: rgb(26, 50, 90) !important;
  color: #fff !important;
}

.form {
  margin: 0rem auto 2rem auto;
  transform: scaleY(0);
  transition: transform 250ms ease-in-out;
  transform-origin: top;
  height: 0;
}

.activeForm {
  composes: form;
  transform: scaleY(1);
  height: 100%;
}

.input {
  margin: 0;

  /* Reset the default borderRadius for Mobile Safari */
  border-radius: 0;

  /* Belle TextInput style */
  overflow: hidden;
  resize: none;
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  color: #505050;
  border: 0 solid #fff;
  border-bottom: 1px solid #eee;
  background: none;
  display: block;
  box-sizing: border-box;
  min-height: 0px;
  font-size: 1rem;

  /* animations */
  transition: border-bottom 0.2s;
  transition-timing-function: ease-out;
}

.input:hover {
  border-bottom: 1px solid #ccc;
}

.input:focus {
  border-bottom: 1px solid #ccc;
  outline: 0;
}
