.drawer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15em;
  background: #282830; /* Old browsers */
  background: -moz-linear-gradient(top, #282830 0%, #26262e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #282830 0%,#26262e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #282830 0%,#26262e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282830', endColorstr='#26262e',GradientType=0 );
  z-index: 1;
  -webkit-box-shadow: inset -10px 0px 10px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: inset -10px 0px 10px -4px rgba(0,0,0,0.25);
  box-shadow: inset -10px 0px 10px -4px rgba(0,0,0,0.25);
}

.titleItem {
  display: block;
  padding: 1rem 1rem;
  margin: 0;
  text-decoration: none;
}

.title {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.filterInput {
  width: 90%;
  height: 2rem;
  font-size: .75rem;
  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.25);
  background-color: #42424a;
  color: #fff;
  margin-left: .75rem;
  margin-bottom: 0.5rem;
  padding: 0 .2rem;
}

.filterInput::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}

.filterInput:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.5);
}

.filterInput::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.5);
}

.filterInput:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}

.list {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 1.5em;
}

.listItem {
  color: rgba(255, 255, 255, 0.5);
  background: #282830; /* Old browsers */
  background: -moz-linear-gradient(top, #282830 0%, #26262e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #282830 0%,#26262e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #282830 0%,#26262e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282830', endColorstr='#26262e',GradientType=0 );
  /* Use System Fonts */
  font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen",  "Ubuntu", "Cantarell", "Fira Sans",  "Droid Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.listItem:hover {
  color: rgba(255, 255, 255, 1);
}

.listItem:focus {
  outline: none;
}

.listItemActive {
  color: rgba(255, 255, 255, 1);
  background: rgb(23, 24, 28);
  border-top-color: transparent;
}

.listItem:last-child.listItemActive {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.subListItemWrapper {
  background: rgb(23, 24, 28);
  border-left: 0.15rem solid rgb(72, 133, 246);
}

.subListItem {
  color: rgba(255, 255, 255, 0.5);
  border-top-color: transparent;
  /* Use System Fonts */
  font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen",  "Ubuntu", "Cantarell", "Fira Sans",  "Droid Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1.6rem;
  display: block;
  font-size: 0.7rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.subListItem:hover {
  color: rgba(255, 255, 255, 1);
}

.subListItem:focus {
  outline: none;
  border-left: 0.15rem solid rgb(167, 198, 255);
}

.subListItemActive {
  color: rgba(255, 255, 255, 1);
  background: rgb(23, 24, 28);
  border-left: 0.15rem solid rgb(167, 198, 255);
  border-top-color: transparent;
}

.footer {
  background-color: #282830;
  position: absolute;
  bottom: -13.5em; /* 13.5em = height of footer - height of buttons */
  left: 0;
  right: 0;
  height: 15em;
  transform: translateY(0);
  transition: transform 150ms ease-in-out;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footerExpanded {
  composes: footer;
  transform: translateY(-13.5em);
}

.footerButton {
  width: 50%;
  border: none;
  background-color: transparent;
  height: 1.5em;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
  cursor: pointer;
  padding: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-top: 1px solid transparent;
  background: linear-gradient(to bottom, #282830 0%,#26262e 100%);
  outline: none;
}

.footerButtonActive {
  composes: footerButton;
  color: rgba(255, 255, 255, 1);
  background: rgb(23, 24, 28);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.footerButton:hover {
  color: rgba(255, 255, 255, 0.75);
}

.footerContent {
  color: white;
  height: 13.5em;
  position: absolute;
  top: 1.5em;
  font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen",  "Ubuntu", "Cantarell", "Fira Sans",  "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
}

.footerHeading {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0;
}

.footerTabContent {
  width: 100%;
  height: 100%;
}

.footerTabContentVisible {
  composes: footerTabContent;
}

.keyboardShortcut {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.25em 0.5em;
  border-radius: 3px;
  font-size: 1.25em;
  margin-right: 0.5em;
}

.paragraph {
  width: 100%;
  margin: 1em 0;
  font-size: 0.8em;
  line-height: 1.5em;
}

.paragraph:first-child {
  margin-top: 0.5em;
}

.footerLink {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
