.button {
  box-sizing: border-box;
  border: 1px solid #ccc;
  height: 2.35rem;
  color: #888;
  border-radius: 2rem;
  line-height: 2.25rem;
  cursor: pointer;
  background-color: #fff;
  font-size: 1rem;
  padding: 0 1.1rem;
  margin: 2rem 0 0 0;
}

.button:focus {
  background-color: #f5f5f5;
  outline: 0; /* reset for :focus */
}

.button:hover {
  background-color: #f5f5f5;
}

.button:active {
  border: 1px solid #ccc;
  background-color: #eee;
}

.button:disabled {
  background-color: #F5F5F5;
  color: #ccc;
}
