html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


:global(#styleguide-root),
.main {
  width: 100%;
  height: 100%;
}

.preview {
  width: 100%;
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  z-index: 2;
  position: absolute;
  right: 0; top: 0; bottom: 0; left: 0;
  background-color: #f4f7f9;
  transition: transform 150ms ease-in-out, width 150ms ease-in-out;
  position: relative;
}

.previewOpen {
  composes: preview;
  width: calc(100% - 15em);
}

.previewTitle {
  font-weight: 300;
  text-align: center;
}
